#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 70px;
}

.body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(120, 166, 235);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #93bcec;
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    letter-spacing: 1.2px;
    text-transform: capitalize;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

h2 {
    color: #0f0d4f;
}

.lagu {
   background-color: #cce0f7;
   border-radius: 10px;
   border: 1px solid rgb(167, 193, 255);
   padding: 15px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   position: relative;
}

.lagu:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.lagu h2 {
    margin: 0;
}

.lagu img {
    width: 100%;
    margin: 5px 0px;
    border-radius: 10px;
}

.bawah {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lagu small i,
.lagu .bawah .kanan,
.lagu .bawah .kiri {
    color: rgb(13, 13, 85); 
    font-weight: bold;
    transition: color 0.3s ease;
}

.lagu:hover small i,
.lagu:hover .bawah .kanan,
.lagu:hover .bawah .kiri {
    color: rgb(28, 66, 143); 
}

 
.play-button {
    background-color:rgb(120, 166, 235, 0.2);
    border: none;
    width: 60px;
    aspect-ratio: 1 / 1; 
    border-radius: 50%; 
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.play-button:hover {
    transform: scale(1.1);
}

.play-button img {
    width: 40px;
    height: 40px;
}

.cover-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin: 15px 0;
}
